.prod-container{
    width: 300px;
}
.card{
    width: 270px;
    height: auto;
    margin: 10px;
    border: .7px solid ;
    border-color: #7b7b7b;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: border-color .3s;
}
.card:hover{
    border-color:#00F57B;
    cursor: pointer;
}
.card-detalle{
    background-color: #cccccc;
    width: 100%;
}
.imgProd{
    width: 100%;
    pointer-events: none;
}
.nombreProd{
    font-size: 20px;
    margin-top: 5px;
    color: #000000;
}
.descProd{
    margin: 0;
    font-size: 4px;
    color: #cccccc;
}
.precioProd{
    margin: 0;
    font-size: 25px;
    color: #243746;
}
.detalle{
    cursor: pointer;
}
.ver-mas{
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    transition: all .2s;
}
.ver-mas:hover{
    font-size: 20px;
    padding: 6px 0px 6px 0px;
}